body {
    font-family: Arial, sans-serif;
    background-color: #f7e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

header h1 {
    font-size: 3em;
    color: #333;
}

.login-box, .signup-box {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    border-radius: 8px;
    margin-top: 20px;
}

.login-box h2, .signup-box h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

.textbox {
    margin-bottom: 20px;
    position: relative;
}

.textbox input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn {
    background-color: #ff6347;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
}

.btn:hover {
    background-color: #e5533d;
}
